<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.vo.Product" alias="product"/>
		<typeAlias type="com.vo.Users" alias="users"/>
		<typeAlias type="com.vo.Cart" alias="cart"/>
		<typeAlias type="com.vo.Orders" alias="order"/>
		<typeAlias type="com.vo.Orderdetail" alias="orderdetail"/>
		<typeAlias type="com.vo.Expense" alias="expense"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="com/config/productmapper.xml"/>
		<mapper resource="com/config/usersmapper.xml"/>
		<mapper resource="com/config/cartmapper.xml"/>
		<mapper resource="com/config/ordersmapper.xml"/>
		<mapper resource="com/config/orderdetailmapper.xml"/>
		<mapper resource="com/config/expensemapper.xml"/>
	</mappers>
</configuration>






