<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ProductMapper">
	
	
	<select id="select" parameterType="INTEGER" resultType="product">
		SELECT * FROM TB_PRODUCT WHERE ID=#{obj}
	</select>
	<select id="selectall" resultType="product">
		SELECT * FROM TB_PRODUCT
	</select>
	<insert id="insert" parameterType="product">
		INSERT INTO TB_PRODUCT VALUES (PRO_SEQ.NEXTVAL,#{name},#{price},sysdate,#{imgname})
	</insert>
	<update id="update" parameterType="product">
		UPDATE TB_PRODUCT SET NAME=#{name},PRICE=#{price},IMGNAME=#{imgname} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="INTEGER">
		DELETE FROM TB_PRODUCT WHERE ID=#{obj}
	</delete>
	
</mapper>






